!!! XML 
!!!  
%html{html_attrs('ja')}
  %head
    %title #{@config["title"]}
    %link{:rel => :stylesheet, :href => "./stylesheet.css", :type => "text/css"}
  %body
    %div.main
      %h1.title #{@config["title"]}
      %div.left
        - @entries.each do |entry|
          #{entry.content}
      %div.right
        %h3 検索
        %form{:method => "GET", :action => "searchdiary"}
          %input{:type => "text", :name => "query"}
          %input{:type => "submit", :value => "検索"}
        %h3 最新エントリ
        %ul
        - @entries.each do |entry|
          %li
            %a{:href => "#{entry.year}#{entry.month}#{entry.day}/#{entry.point}"} #{entry.title}
