!!! XML 
!!!  
%html{html_attrs('ja')}
  %head
    %title 「#{@query}」の検索結果 - #{@config["title"]}
    %link{:rel => :stylesheet, :href => "../stylesheet.css", :type => "text/css"}
  %body
    %div.main
      %h1.title #{@config["title"]}
      %div.left
        %ul
        - @entries.each do |entry|
          %li
            #{entry.year}年#{entry.month}月#{entry.day}日
            %a{:href => "#{entry.year}#{entry.month}#{entry.day}/#{entry.point}"} #{entry.title}
      %div.right
        %h3 検索
        %form{:method => "GET", :action => "searchdiary"}
          %input{:type => "text", :name => "query"}
          %input{:type => "submit", :value => "検索"}


